element.style {
    width: 502px;
    min-height: 10px;
    overflow: hidden;
    padding: 10px;
}
.sodotochuc_full {
    width: 100% !important;
}
h3 {
    font-size: 19px;
    padding: 0 0 15px;
}
.main_sodo {
    width: 520px;
    margin: 0 auto;
}
.box_left_sodo.top_sodo.top_gd {
    height: 130px;
    text-align: center;
    width: 140px;
    margin-left: 160px;
}
.top_sodo {
    margin: 0 auto;
}
.box_left_sodo {
    background: url(images/bg_div.jpg) repeat-x scroll 0 0 transparent;
    border: 1px solid #00CCFF;
    border-radius: 8px 8px 8px 8px;
    height: 80px;
    margin-bottom: 8px;
    padding: 3px 5px 5px;
    width: 192px;
}
.box_left_sodo.top_sodo.top_gd a {
    padding: 5px 0px !important;
    margin: 0px;
    width: 100%;
}

.box_left_sodo a {
    color: #003366;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    height: 54px;
    padding-top: 16px;
    text-align: center;
    text-decoration: none;
    width: 120px;
    font-size: 12px;
}